html, body {
  height: 100%;
  width: auto;
}

body {
	background-color: #f0f1ff;
	color: #262733;
	font-family: Helvetica;
	margin: 0px;
}

.header {
  padding: 1px;
  background: #262733;
	box-shadow: 2px 2px 20px #262733;
}

.headerImage {
	float: left;
	width: 200px;
	height: auto;
}

.headerH1 {
	font-size: 65px;
	color: #f0f1ff;
}

.bodyLogin {
	height: 50%;

	background-image: url("images/image2.png");
	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.login {
	text-align: center;
	font-family: "Poppins", sans-serif;
	
  overflow: hidden;
  background-color: #f0f1ff;
  padding: 30px 30px 30px 30px;
  border-radius: 10px;
  margin: auto;
	margin-top: 15%;
  width: 400px;
	box-shadow: 2px 2px 10px #262733;
}

.loginImage {
	width: 100%;
	height: auto;
}

.loginInput {
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 2.5px -10px;
  }

button {
	box-sizing: border-box;
  cursor: pointer;
  color: white;
  font-size: 16px;
  width: 80px;
	border: 2px solid;
  padding: 10px 0;
  margin-top: 15px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: #fa6302;
	border-color: #fa6302;
	transition-duration: 0.4s;
}

/* Make button color lighter on hover */
button:hover {
	background-color: #ff9d5e;
}

.optionsLeft {
	margin-right: 35px;
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
	padding-right: 30px;
	float: left;
	border-right: 2px solid;
	border-color: #262733;
}

.teacherH1 {
	font-size: 30px;
	margin-left: 15px;
}

.grades {
	font-size: 25px;
	font-family: "Poppins", sans-serif;
	margin-left: 12px;
}

.gender {
	font-size: 25px;
	font-family: "Poppins", sans-serif;
	margin-left: 12px;
}

.box {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
	margin-left: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the original checkbox */
.box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a better checkbox */
.checkmark {
  position: absolute;
	border-radius: 2.5px;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
	box-shadow: 2px 2px 5px #262733;
}

.box:hover input ~ .checkmark {
  background-color: #dfdfe7;
}

.box input:checked ~ .checkmark {
  background-color: #fa6302;
}

/* Create the checkmark/indicator when checked */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.box input:checked ~ .checkmark:after {
  display: block;
}

.box .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dropdown {
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  border: 0;
  padding: 10px 10px;
	margin-left: 15px;
	box-shadow: 2px 2px 5px #262733;
}

.post {
	margin-left: 20px;
	margin-bottom: 10px;
}

.postButton {
	width: 100%;
}

.detail {
  width: 100%;
	margin-top: 35px;
}

.field {
  margin-bottom: 16px;
}

.title {
  width: 80%;
  padding: 10px 10px;
  font-size: 16px;
  border: 0px;
  border-radius: 2.5px;
  box-shadow: 2px 2px 10px #262733;
}

.announcementContent {
  height: 460px;
  width: 80%;
  padding: 10px 10px;
  font-size: 16px;
  border: 0px;
  border-radius: 2.5px;
  box-shadow: 2px 2px 10px #262733;
	resize: none;
}